*{
    margin: 0;
    padding: 0;
}
body{
   
}
/* Navbar */
nav{
    background: grey;
    color: honeydew;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
h1{
    margin: 10px 10px;
    font-size: 25px;
}
ul{
    display: flex;
    margin: 10px 10px;
}
ul li{
    list-style: none;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: honeydew;
    font-size: 25px;
}

@media only screen and (max-width:650px){
    nav{
       display: flex;
       flex-direction: column;
       height: 80px;
       width: 100%;
       justify-content: space-around;
    }
    h1{
        margin: 5px 10px;
        text-align: center;
        font-size: 15px;
    }
    ul{
        margin-left: auto;
        margin-right: auto;
    }
    ul li a{
        font-size: 15px;
    }
}

/* Table */
.infotable{
    padding: 0 15%;
   
}

.heading{
    text-align: center;
    font-size: 30px;
}

table{
    /* border: 2px solid black; */
    /* background: burlywood; */
    width: 100%;
    border-collapse: collapse;
}

table thead{
    background: chartreuse;
    color: crimson;
}
table thead tr th{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.35px;
    padding: 15px;
    vertical-align: top;
    border: 1px solid crimson;
}

table tbody tr td{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.35px;
    padding: 15px;
    background-color: crimson;
    color: wheat;
    border: 1px solid chartreuse;
    word-wrap:break-word
}

table td .pwd{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px){
   table{
       margin-left: auto;
       margin-right: auto;
   }

    table thead{
       display: none;
       font-size: 15px;
    }

    table, table tbody, table tr, table td{
        display: block;
        width: 100%;
        word-wrap:break-word;
        font-size: 15px;
    }
    
    table tr{
        margin-bottom: 15px;
    }

    table tbody tr td{
        text-align: right;
        position: relative;
    }

    table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
    }
    
    table td .pwd{
        width: 50%;
        margin-left: 50%;
    }


    
}

/* .infotable{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   
}
table{
   margin-left: auto;
   margin-right: auto;
   border: 2px solid black;
}
th{
    background-color: goldenrod;
    height: 40px;
    width: 80px;
} */

/* Form */
.dataform{
    display: block;
    margin-left: auto;
    margin: auto;
    width: 50%;
   /*  border: 2px solid black; */
    
}

.dataform h2{
    text-align: center;
    background: coral;
    color: white;
    height: 40px;
}

.dataform div{
   /*  border: 2px solid black; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    width: 50%;
    height: 30px;
}
button{
    width: 200px;
    height: 40px;
    color: white;
    background-color: tomato;
    border: 2px tomato solid;
    border-radius: 5px;
}
  
