*{
    margin: 0;
    padding: 0;
}
body{
   background-color: #ADDFFF;
}
/* Navbar */
.nav-header{
    background: #728FCE;
    color: honeydew;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
h1{
    margin: 10px 10px;
    font-size: 25px;
}
ul{
    display: flex;
    margin: 10px 10px;
}
ul li{
    list-style: none;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: honeydew;
    font-size: 25px;
}

@media only screen and (max-width:650px){
    .nav-header{
       display: flex;
       flex-direction: column;
       height: 80px;
       width: 100%;
       justify-content: space-around;
    }
    h1{
        margin: 5px 10px;
        text-align: center;
        font-size: 20px;
    }
    ul{
        margin-left: auto;
        margin-right: auto;
    }
    ul li a{
        font-size: 20px;
    }
}

/* Table */
.infotable{
    padding: 0 10%;
   
}

.heading{
    text-align: center;
    font-size: 30px;
    color: #4444dd;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table thead{
    background: #1974D2;
    color: white;
}
table thead tr th{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.35px;
    padding: 15px;
    vertical-align: top;
    border: 1px solid darkblue;
}

table tbody tr td{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.35px;
    padding: 15px;
    background-color: #95B9C7;
    color: darkblue;
    border: 1px solid darkblue;
    word-wrap:break-word
}

@media only screen and (max-width: 1200px){
  .infotable{
    display: block;
    margin-left: auto;
    margin-right: auto;
   /*  border: 1px solid black; */
  }
    table{
       display: block;
      /*  border: 1px solid black; */
   }

    table thead{
       display: none;
       font-size: 15px;
    }

    table, table tbody, table tr, table td{
        display: block;
        width: 100%;
        word-wrap:break-word;
        font-size: 15px;
    }
    
    table tr{
        margin-bottom: 15px;
    }

    table tbody tr td{
        text-align: right;
        position: relative;
    }

    table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
    }
    
    table td .pwd{
        width: 50%;
        margin-left: 50%;
    }    
}

/* Form */
.dataform{
    display: block;
    margin-left: auto;
    margin: auto;
    width: 50%;
    background: #E0FFFF;
    border: 1px solid #E0FFFF;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 10px #4444dd);
   /*  border: 2px solid black; */
    
}

.dataform h2{
    text-align: center;
    height: 40px;
}

.dataform div{
   /*  border: 2px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    height: 30px;
}
label{
    font-size: 20px;
    font-weight: bold;
    color: #4444dd;
}
button{
    display: block;
    width: 200px;
    height: 40px;
    color: white;
    background-color: #1974D2;
    border: 2px #1974D2 solid;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}


/* Homepage styling */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}


.mrcoffee{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.opentag{
    width: 100px;
}

.cafeimg{
    width: 75%;
    padding: 10px;
}

@media only screen and (max-width: 650px){
    .heading{
        font-size: 20px;
    }

    .cafeimg{
        width: 100%;
        padding: 10px;
    }

    .logo{
        width: 100px;
    }
    .opentag{
        width: 150px;
    }
}

/* footer */
.nav-homepgfooter{
    background: #728FCE;
    height: 60px;
    text-align: center;
}

.nav-footer{
    background: #728FCE;
    height: 60px;
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
}

.footercontent{
    color: white;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}


/* .footercontent{
    width: 40%;   
    border: 2px solid black; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} */

/* .footerimage{
    width: 20px;
    object-fit: cover;
    margin: 5px 10px;
}

.imageblock{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footertext{
    color: white;
}

.navimg{
    width: 150px;
} */

/* Responsive footer */
@media only screen and (max-width:650px) {
    .nav-footer{
        height: 100px;
        /* border: 2px solid black; */
    }
    .footercontent{
        /* display: flex;
        flex-direction: column;
        border: 2px solid black; 
        width: 100%;
        justify-content: space-around; */
        margin-top: 30px;

    } 

    .navimg{
        margin-left: 40%;
        /* border: 2px solid black; */
        margin-top: 10px;
    }
} 
