<footer>
    <nav class="nav-footer">
       <!--  <img class ="navimg" src="assets/full_logo_white.png" alt="Mr Coffee Logo"> -->
        <div class="footercontent">
            <p class="footertext">Suivez nous sur les réseaux sociaux !</p>
            <p class="footertext">copyright © 2021 all rights reserved</p>

        </div>   
    </nav>
</footer>