<header>
    <nav>
        <h1>Schedules Application</h1>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li> <a href="/users">Users</a></li>
            <li><a href="/schedules">Schedules</a></li>
        </ul>
    </nav>
</header>