<footer>
    <nav class="nav-homepgfooter">
       <!--  <img class ="navimg" src="assets/full_logo_white.png" alt="Mr Coffee Logo"> -->
        <div class="footercontent">
            <p class="footertext">Suivez nous sur les réseaux sociaux !</p>
            <p class="footertext">copyright © 2021 all rights reserved</p>
            <!-- <div class="imgblock">
                <img class ="footerimage" src="assets/logo_linkedin.png" alt="LinkedIn Logo">
                <img class ="footerimage" src="assets/logo_twitter.png" alt="Twitter Logo">
                <img class ="footerimage" src="assets/logo_facebook.png" alt="Facebook Logo">
            </div> -->
        </div>   
    </nav>
</footer>