<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Users</title>
</head>
<body>
     <!-- header -->

    <!-- main -->
    <main>  
        <table>
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td><%= user[param].firstname %></td>
                    <td><%= user[param].lastname %></td>
                    <td><%= user[param].email %></td>
                    <td><%= user[param].password %></td>
                </tr>
                
            </tbody>
        </table>
    </main>
    <!-- footer -->
</body>
</html>