<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <img class="logo" src="/assets/logo_mrcoffee.png" alt="Logo">
    <!-- main -->
    <div class="mrcoffee">
            <h1 class="heading">Welcome to schedules app</h1>
            <img class="opentag" src="/assets/icon_open.png" alt="open">
        <br>
        <img class="cafeimg"src="/assets/mr_coffee_salle.jpg" alt="Cafe Image">
    </div>
    

    <!-- footer -->
    <%- include('../partials/homepagefooter') %>
</body>
</html>